/* ------------------- General Reset ------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* ------------------- Header Section ------------------- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  border-bottom: 0.8px solid #f59e0b;
}

.logo img {
  width: 130px;
}

/* Navbar Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 25px;
  transition: all 0.3s ease;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

/* Underline hover animation */
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #f59e0b;
  transition: width 0.3s ease;
}

.nav-links a:hover {
  color: #f59e0b;
}

.nav-links a:hover::after {
  width: 100%;
}

/* Active nav link */
.nav-links a.active {
  color: #f59e0b;
}

.nav-links a.active::after {
  width: 100%;
}

/* Donate button */
.donate-btn {
  background-color: #f59e0b;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: white;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.donate-btn:hover {
  background-color: #fff;
  color: #f59e0b;
  transform: scale(1.05);
}

/* ------------------- FAQ Section ------------------- */
.form-section {
  background-color: #f9f6f2;
  padding: 5rem 2rem;
  text-align: center;
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
