*{
    box-sizing:border-box;
}

/* Base (mobile-first) layout */
#allplaces div {
  margin: 1rem 8px;
  border: 1px solid #999;
  background-color: #eee;
  border-radius: 8px;
  overflow: hidden;

  display: grid;
  grid-template-areas:
    "name"
    "photograph"
    "description"
    "location";
}

#allplaces div h2 {
  margin: 1rem 10px;
  grid-area: name;
}

#allplaces div img {
  width: 300px;
  grid-area: photograph;
}

#allplaces div p {
  margin: 1rem 10px;
  grid-area: description;
}

#allplaces div address {
  margin: 1rem 10px;
  grid-area: location;
}