@media only screen and (min-width: 38rem) {
    header, main, nav, footer{
        max-width: 900px;
        margin: 0 auto;
    }

    header{
        grid-template-columns: 24px auto;
    }

    .hamburger{
        display: none;
    }
    .navigation{
        display: block;
        border-bottom: solid 1px #eee;
    }
    .navigation ul {
        display: flex;
    }
    .navigation a{
        border: none;
    }

}

/* Media Queries for smaller screens */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr; /* Stack vertically */
  }

  .about-me, .student-photo {
    margin-bottom: 20px; /* spacing between stacked sections */
  }

  .about-me h4, .student-photo h4 {
    text-align: center;
  }

  .student-photo img {
    display: block;
    margin: 0 auto; /* center the photo */
    max-width: 80%; /* smaller for mobile */
  }
}
